/* CircularProgressTracker.css */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Adjust the margin as needed */
}

.website-heading {
  color: #007bff; /* Blue color */
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.progress-column {
  flex: 2; /* Increased width */
  background-color: #f0f7ff;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.checkbox-column {
  flex: 3; /* Increased width */
  background-color: #f0f7ff;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto; /* Enable scrolling if needed */
  margin-top: 30px;
}

.column-heading {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.checkbox-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type='checkbox']:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type='checkbox']:checked::after {
  content: '\2713';
  font-size: 16px;
  color: white;
  position: absolute;
  top: 1px;
  left: 4px;
}

label {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.progress-bar-container {
  background-color: #ddd;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden; /* Hide overflowing progress */
}

.progress-bar {
  background-color: #007bff;
  border-radius: 5px;
  height: 100%;
}

.progress-text {
  margin-bottom: 10px;
}

.completion-message {
  color: green;
  font-weight: bold;
}
/* Add these styles to align dropdowns to the right and style them */
.checkbox-item {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-left: auto; /* Align dropdowns to the right */
  background-color: #f0f7ff; /* Matching theme color */
  border: 1px solid #007bff; /* Matching theme color */
  border-radius: 5px;
  padding: 5px;
  color: #007bff; /* Matching theme color */
  font-size: 16px;
  cursor: pointer;
}

.dropdown:focus {
  outline: none; /* Remove focus outline */
}
/* CircularProgressTracker.css */

.wrapper {
  max-width: 1200px; /* Set maximum width */
  margin: 0 auto; /* Center the content */
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Change to row layout on larger screens */
    justify-content: space-between; /* Space out the columns */
  }

  .progress-column {
    width: 60%; /* Adjust width for larger screens */
  }

  .checkbox-column {
    width: 35%; /* Adjust width for larger screens */
  }
}
